body {
    text-align: center;
    background: #a46740 url(../images/bg.jpg);
}

header h1 {
    height: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
}

#timeTab {
    width: 300px;
    height: 50px;
    background: #232;
    border-radius: 10px;
    border: 5px solid #000;
    margin:0 auto 5px auto;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
  
#contrlTab {
    width: 300px;
    height: 50px;
    margin:0 auto 5px auto;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

#contrlTab a {
    text-decoration: none;
    display: block;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #561515;
    font-size: 2.0em;
    font-weight:bold;
    
}

#begin #reset {
    width: 80%;
}

#begin {
    padding-right: 100px;
}

#container {
    position: relative;
    margin: 0 auto;
}

#beginImg {
    position: absolute;
    top: 20%;
    left:44%;
    -webkit-transition: opacity 1s ease-in-out;
    background: url(../images/number.png);
    background-repeat: no-repeat;
    width:170px;
    height:300px;
    margin: 0 auto;
    background-position: 0 0;
    z-index: 7;
    display:none;
}

#game {
    border-radius: 10px;
    border: 1px solid #666;
    background: #232 url(../images/table.jpg);
    width: 500px;
    height: 460px;
    margin:0 auto;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

#cards {
    position: relative;
    width: 380px;
    height: 400px;
}

.card {
    -webkit-perspective:600;
    width: 80px;
    height: 120px;
    position: absolute;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.face {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition-property: opacity, transform, box-shadow;
    -webkit-transition-duration: .3s;
    -o-transition-property: opacity, transform, box-shadow;
    -o-transition-duration: .3s;
    -moz-transition-property: opacity, transform, box-shadow;
    -moz-transition-duration: .3s;
    -webkit-transition-visibility: hidden;
}

.front {
    background: #999 url(../images/deckModify1.png) 0 -480px;
    z-index: 10;
}

.back {
    background: #efefef url(../images/deckModify1.png);
    -webkit-transform: rotate3d(0,1,0,-180deg);
    z-index: 8;
}

.card:hover, .face, .card-flipped .face {
    -webkit-box-shadow: 0 0 10px #aaa;
}

.card-flipped .front {
    -webkit-transform: rotate3d(0,1,0,180deg);
    z-index: 8;
}

.card-flipped .back {
    -webkit-transform: rotate3d(0,1,0,0deg);
    z-index: 10;
}

.card-removed {
    opacity: 0;
}

.cardA12 {
    background-position: -880px 0;
}
.cardA13 {
    background-position: -960px 0;
}
.cardB12 {
    background-position: -880px -120px;
}
.cardB13 {
    background-position: -960px -120px;
}
.cardC12 {
    background-position: -880px -240px;
}
.cardC13 {
    background-position: -960px -240px;
}









